
@{
    ViewBag.Title = "Make";
    Layout = "~/Views/Shared/_head.cshtml";
}

 
<section class="light-bg p-5">
    <div class="container-fluid">
        <div class="row bg-white py-3">
            <div class="col-12 mb-3">
                <h5 class="mb-0 primary-bg text-white p-2 text-center rounded">Purchase Order Create</h5>
            </div>
            @*<form class="col-12 px-0 w-100" id="purchase-order-create">*@
                @using (Html.BeginForm("Create", "PurchaseOrder", FormMethod.Post, htmlAttributes: new { @class = "col-12 px-0 w-100 form-horizontal", id = "purchase-order-create" }))
                {
                    <div class="row mx-auto">
                        <div class="col-md-3">
                            <div class="d-block my-2">
                                <div class="d-inline-block rounded primary-bg text-white py-1 px-3 font w-50">
                                    <span>Order no</span>
                                </div>
                                <div class="d-inline-block w-50">
                                    <input type="number" class="form-control font rounded w-100 input-height">
                                </div>
                            </div>
                            <div class="d-block my-2">
                                <div class="d-inline-block rounded primary-bg text-white py-1 px-3 font w-50">
                                    <span>Supplier Code</span>
                                </div>
                                <div class="d-inline-block w-50">
                                    <input type="number" class="form-control font rounded w-100 input-height">
                                </div>
                            </div>
                            <div class="d-block my-2">
                                <div class="d-inline-block rounded primary-bg text-white py-1 px-3 font w-50">
                                    <span>Cost Center</span>
                                </div>
                                <div class="d-inline-block w-50">
                                    <input type="text" class="form-control font rounded w-100 input-height">
                                </div>
                            </div>
                            <div class="d-block my-2">
                                <div class="d-inline-block rounded primary-bg text-white py-1 px-3 font w-50">
                                    <span>Department</span>
                                </div>
                                <div class="d-inline-block w-50">
                                    <input type="text" class="form-control font rounded w-100 input-height">
                                </div>
                            </div>
                            <div class="d-block my-2">
                                <div class="d-inline-block rounded primary-bg text-white py-1 px-3 font w-50">
                                    <span>Order Date</span>
                                </div>
                                <div class="d-inline-block w-50">
                                    <input type="date" class="form-control font rounded w-100 input-height">
                                </div>
                            </div>
                            <div class="d-block my-2">
                                <div class="d-inline-block rounded primary-bg text-white py-1 px-3 font w-50">
                                    <span>Order Status</span>
                                </div>
                                <div class="d-inline-block w-50">
                                    <input type="text" class="form-control font rounded w-100 input-height">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ml-auto pr-md-0">
                            <div class="d-block my-2">
                                <div class="d-inline-block rounded primary-bg text-white py-1 px-3 font w-50">
                                    <span>Supplier Name</span>
                                </div>
                                <div class="d-inline-block w-50">
                                    <input type="text" class="form-control name-valid font rounded w-100 input-height">
                                </div>
                            </div>
                            <div class="d-block my-2">
                                <div class="d-inline-block rounded primary-bg text-white py-1 px-3 font w-50">
                                    <span>Supplier Address</span>
                                </div>
                                <div class="d-inline-block w-50">
                                    <input type="text" class="form-control font rounded w-100 input-height">
                                </div>
                            </div>
                            <div class="d-block my-2">
                                <div class="d-inline-block rounded primary-bg text-white py-1 px-3 font w-50">
                                    <span>Total Amount ( CUR )</span>
                                </div>
                                <div class="d-inline-block w-50">
                                    <input type="text" class="form-control font rounded w-100 input-height mb-2">
                                    <input type="text" class="form-control font rounded w-100 input-height mb-2">
                                    <input type="text" class="form-control font rounded w-100 input-height mb-2">
                                </div>
                            </div>
                            <div class="my-2">
                                <ul class="nav nav-bar">
                                    <li class="nav-item mr-3">
                                        <a href="#upload-quotes" data-toggle="modal" class="nav-item"><u>Upload Quote</u></a>
                                    </li>
                                    <li class="nav-item mr-3">
                                        <a href="#supplier-sla" data-toggle="modal" class="nav-item"><u>View Supplier SLA</u></a>
                                    </li>
                                    <li class="nav-item mr-3">
                                        <a href="#" class="nav-item"><u>View MRC</u></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <h6 class="my-2 primary-text font-weight-bold">Comments</h6>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                @*</form>*@
                }
        </div>
        <div class="row bg-white py-3">
            <div class="col-12 mb-3">
                <h5 class="mb-0 primary-bg text-white p-2 text-center rounded">Purchase Order Create</h5>
            </div>
            <form class="col-12 px-0 w-100" id="purchase-create">
                <div class="row mx-auto">
                    <div class="col-md-12 py-3">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered font rowfy" id="customFields">
                                <thead>
                                    <tr class="text-white">
                                        <th class="primary-bg font text-truncate text-center">Id</th>
                                        <th class="primary-bg font text-truncate text-center">Product Code</th>
                                        <th class="primary-bg font text-truncate text-center">Name</th>
                                        <th class="primary-bg font text-truncate text-center">Suffix</th>
                                        <th class="primary-bg font text-truncate text-center">Quantity</th>
                                        <th class="primary-bg font text-truncate text-center">Pack Size</th>
                                        <th class="primary-bg font text-truncate text-center">Unit Price (CUR)</th>
                                        <th class="primary-bg font text-truncate text-center">Amount (CUR)</th>
                                        <th class="primary-bg font text-truncate text-center">Exch Rate</th>
                                        <th class="primary-bg font text-truncate text-center">Base Amt (OMR)</th>
                                        <th class="primary-bg font text-truncate text-center">Status</th>
                                        <th colspan="4" class="font text-truncate text-center border-white" style="opacity: 0">Read terms conditions history</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>
                                        <td colspan="3" class="p-0 text-center pt-1 border-right-0">
                                            <!--<a href="#" class="px-2 py-1"><i class="fa fa-minus"></i></a>-->
                                            <a href="#select-terms" data-toggle="modal" class="px-2 py-1 border font">Select Terms</a>
                                            <a href="#history" data-toggle="modal" class="px-2 py-1"><u>History</u></a>
                                        </td>
                                        <!--<td class="p-0 text-center pt-1">-->
                                        <!--<a href="#" class="px-2 py-1"><i class="fa fa-minus"></i></a>-->
                                        <!--&lt;!&ndash;<a href="#" class="px-2 py-1 border font">Select Terms</a>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<a href="#" class="px-2 py-1"><u>History</u></a>&ndash;&gt;-->
                                        <!--</td>-->
                                    </tr>
                                    <!--<tr>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0"><input type="text" class="form-control font rounded w-100 input-height"></td>-->
                                    <!--<td class="p-0 text-center pt-1">-->
                                    <!--<a href="#" class="px-2 py-1"><i class="fa fa-plus"></i></a>-->
                                    <!--<a href="#" class="px-2 py-1 border font">Select Terms</a>-->
                                    <!--<a href="#" class="px-2 py-1"><u>History</u></a>-->
                                    <!--</td>-->
                                    <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <h6 class="my-2 primary-text font-weight-bold">Notes</h6>
                            <textarea class="form-control" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="d-table h-100 pb-3">
                            <div class="d-table-cell align-bottom">
                                <a href="#select-approver" data-toggle="modal" class="px-2 py-1 border font">Select Approver </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-table h-100 pb-3">
                            <div class="d-table-cell align-bottom">
                                <button class="btn px-2 py-1 border rounded primary-bg text-white py-1 font">Save Order</button>
                            </div>
                            <div class="d-table-cell align-bottom">
                                <button class="btn px-2 py-1 border rounded primary-bg text-white py-1 font">Cancel Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            }
        </div>
    </div>
</section>

<section>
    <div class="modal fade" id="upload-quotes">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header primary-bg rounded-0">
                    <h5 class="modal-title text-white">Uploaded Quotes</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span class="font-weight-normal" aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn primary-bg text-white font">Save changes</button>
                    <button type="button" class="btn btn-secondary font" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="supplier-sla">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header primary-bg rounded-0">
                    <h5 class="modal-title text-white">Supplier SLA</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span class="font-weight-normal" aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Supplier SLA text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn primary-bg text-white font">Save changes</button>
                    <button type="button" class="btn btn-secondary font" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="select-terms">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header primary-bg rounded-0">
                    <h5 class="modal-title text-white">Terms And Conditions</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span class="font-weight-normal" aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Terms and Conditions goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn primary-bg text-white font">Save changes</button>
                    <button type="button" class="btn btn-secondary font" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="history">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header primary-bg rounded-0">
                    <h5 class="modal-title text-white">History</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span class="font-weight-normal" aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Complete history goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn primary-bg text-white font">Save changes</button>
                    <button type="button" class="btn btn-secondary font" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="select-approver">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header primary-bg rounded-0">
                    <h5 class="modal-title text-white">Select Approver</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span class="font-weight-normal" aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Approvers goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn primary-bg text-white font">Save changes</button>
                    <button type="button" class="btn btn-secondary font" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- jQuery Popper JS  Bootstrap JS -->
@*<script src="assets/js/jquery3.3.1.js"></script>*@
<script src="~/Content/assets/js/jquery-3.3.1.js"></script>

@*<script src="assets/js/main.js"></script>*@
<script src="~/Content/assets/js/main.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
